/* Body styling with background animation */
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure full viewport height */
    background: linear-gradient(45deg, #042632, #253538, #1a1e23, #bcf3f0);
    background-size: 300% 300%;
    animation: gradient-animation 10s ease infinite;
}

.free{
    color: rgb(157, 58, 58);
}

/* Main content styling */
.mainbody {
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: center;
}

h4 {
    color: rgb(31, 169, 185);
}

p {
    font-size: 14px;
}

h3 {
    color: rgb(31, 169, 185);
    font-size: 1.8rem;
    text-align: center;
}

/* Icon styling */
.icon {
    flex: 1;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(124, 169, 174);
}

/* Main content block */
.mainbody1 {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* Keyframes for background gradient animation */
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
